.glyphicon {
  font-size: 3em;
  text-align: center;
  color: red;
  display: block;
}

.col-md-4 h2 {text-align: center;}

.carousel img{
 max-height: 500px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}

.carousel .item-active{
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
width: 100%; /*slider width*/
}
.carousel .item-active img{
  width: 100%;
}
.container .jumbotron {
  background-color: red;
  color: white;
}
